body{
    background: rgb(223, 222, 222);
}
/* الستايل الواسط والصوره والاسم والوصف */
#header{
    width: 320px;
    height: 380px;
    background: rgb(253, 244, 244);
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    border: 1px solid rgb(138, 136, 136);
    border-radius: 20px;
}
#header img{
    width: 140px;
    margin-left: 90px;
    margin-top: 20px;
    border-radius: 100%;
}
#header h1{
    font-size: 21px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#header p{
    color: rgb(126, 3, 3);
    text-align: center;
    font-size: 17px;
}
/* للمشروع 1 و 2 و 3 */
.button_project{
    width: 80px;
    height: 25px;
    background: rgb(116, 13, 13);
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid rgb(104, 99, 99);
    border-radius: 7px;
    margin-left: 17px;
    margin-top: 5px;
}
/* للمشروع 4 و 5 */
.button_project_b{
    width: 80px;
    height: 25px;
    background: rgb(116, 13, 13);
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid rgb(104, 99, 99);
    border-radius: 7px;
    margin-left: 47px;
    margin-top: 15px;
}
/* ستايل لاختيار اللغة */
#language_main{
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
    margin-top: 45px;
    /* margin-left: 41%; */
}
.language{
    width: 71.81px;
    height: 25px;
    background: rgb(223, 222, 222);
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 20px;
}
#arabic_id{
    float: left;
    color: rgb(8, 116, 8);
    border: 2px solid rgb(8, 116, 8);
}
#arabic_id:hover{
    background: rgb(8, 116, 8);
    color: white;
}
#english_id{
    float: right;
    color: blue;
    border: 2px solid blue;
}
#english_id:hover{
    background: blue;
    color: white;
}
/* ستايل السوشيال ميديا */
#facebook_id{
    width: 45px;
    position: absolute;
    top: 85%;
    left: 5%;
    cursor: pointer;
}
#instagram_id{
    width: 45px;
    position: absolute;
    top: 85%;
    left: 11%;
    cursor: pointer;
}
/* ستايل اتصل بنا */
#contact_id{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 87%;
    left: 85%;
    background: rgb(223, 222, 222);
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}
#contact_id:hover{
    background: black;
}
#contact_id a{
    color: black;
    text-decoration: none;
}
#contact_id a:hover{
    background: black;
    color: white;
}